.tijelo {
  background:  white;
  display: grid;
  place-items: center;
  height: 100vh;
}
.zaglavlje {
 width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  text-align: left;
  color: darkblue;
  font-size: 20px;
}
.listVertical {
  list-style-type: circle;
} 
.meni{ 
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
   
}
.meni li a{  
display:block;
width: 100px;
height: 40px;
    padding: 1px;
    text-decoration: none;
    border: 2px solid darkblue;
    border-radius: 10px;
    font-family: Gill Sans, sans-serif;
    font-size: 18px;
    color:darkblue;
}
.meni li a:hover{
   background-color:lightgray;
}
.planiranje{
    font-family: 'Bangers', cursive;
    margin:0 auto;
    margin-top: 200px;
    margin-bottom:200px;
    background-color:#ccccff;
    border: 2px solid black;
    border-radius: 5px;
    width:500px;
}
.planiranje label{
    font-family: Gill Sans, sans-serif;
    font-size: 18px;
    color:black;
    margin-left:100px;
    margin-right:auto;
    width:100px;
    text-align:right;
}
.planiranje input{
    margin-left:auto;
    margin-right:125px;
    border: 2px solid black;
    width:100px;
    float: right;
}
.planiranje button{
    margin-left:200px;
    margin-right:auto;
    margin-bottom:10px;
    border: 2px solid black;
    width:100px;
   color:black;
}

.planiranje select{
   margin-left:auto;
   margin-right:125px;
   border: 2px solid black;
   width:105px;
  float:right;
}
@media (max-width:600px) {
.planiranje{
    font-family: 'Bangers', cursive;
     margin:0 auto;
     margin-top: 200px;
     margin-bottom:200px;
     background-color:#ccccff;
     border: 2px solid black;
     border-radius: 5px;
     width:350px;
  }

.planiranje label{
    font-family: Gill Sans, sans-serif;
    font-size: 18px;
    color:black;
    margin-left:100px;
    margin-right:auto;
    width:50px;
}

.planiranje input{
    margin-left:auto;
    margin-right:125px;
    border: 2px solid black;
    width:100px;
   float: right;
margin-bottom: 20px;
}
.planiranje button{
   margin-left:200px; 
   margin-bottom:10px;
   border: 2px solid black;
   width:100px;
   color:black;
}
.planiranje select{
   margin-left:auto;
   margin-right:125px;
   border: 2px solid black;
   width:100px;
   float:right;
   margin-bottom: 20px;
}
}