.tijelo {
  background: white;
  display: grid;
  place-items: center;
  height: 100vh;
}
.zaglavlje {
   width: 100%;
   opacity: 0.5;
   position: absolute;
   top: 0;
   text-align: left;
   color: darkblue;
   font-size: 20px;
}
.listVertical {
   list-style-type: circle;
} 
.meni{ 
    margin-top:0px;
    margin-left:auto;
    margin-right:auto; 
}
.meni li a{  
display:block;
width: 100px;
height: 40px;
    padding: 1px;
    text-decoration: none;
    border: 2px solid darkblue;
    border-radius: 10px;
    font-family: Gill Sans, sans-serif;
    font-size: 18px;
    color:darkblue;
}
.meni li a:hover{
    background-color:lightgray;
}
.podaciStudenta {
    margin:0 auto;
    margin-top: 200px;
    margin-bottom:200px;
    grid-area: podaciStudenta;
    table-layout: fixed;
    width: 400px;
    height: 240px;
    border-collapse: collapse;
}
.podaciStudenta tr.redovi td {
    text-align: center;
    background-color: white;
    width:50%;
    height:40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.podaciStudenta tr.redovi:hover, tr.redovi:active {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}